:root {
  --accent: #ffff00;
  --accent-light: #ffd700;
  --accent-white: #fff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent);
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
}
.section_title {
  text-transform: uppercase;
  text-align: center;
}
.header {
  background-color: var(--accent);
}
.header a {
  color: var(--accent-white);
  text-decoration: none;
}
.header-nav {
  padding: 11px 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 20%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 3px;
}
.header-menu {
  width: 78%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.header-menu-link:hover {
  background-color: var(--accent-light);
}

/* main */
.intro {
  padding: 4em 0;
}
.intro_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_left {
  width: 30%;
}
.intro_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.intro_right {
  width: 60%;
}
.intro_right h1,
.intro_right h3 {
  margin: 0 0 15px;
}
.contacts {
  margin-bottom: 60px;
}
.contacts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts li {
  text-align: center;
}
/* end main */

/* sckills */
.skills {
  color: var(--accent-white);
  background-color: var(--accent);
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.skills li {
  background-color: var(--accent-light);
  padding: 10px 25px;
  border-radius: 4px;
}

/* end sckills */
/* code example */
.code_example {
  text-align: center;
}

.code_example p {
  font-style: italic;
}
.code_example b {
  font-style: normal;
}
.code_example pre {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2em;
  color: var(--accent-white);
  background-color: var(--accent);
  border-radius: 7px;
}
/* end code example */
